html {
	margin: 0px;
	height: 100%;
	cursor: url("eye3.png") 1 1, pointer;
	background: url("moonlight.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}

a{
	text-decoration: none;
}
.bg{
	height: 100%;
	margin: 0px;
}
.titleButton {
	font-size: 80px;
	color: #67d0cc;
	position: relative;
	margin: 100px auto;
}
.beginButton{
	font-size: 50px;
	color: #ebde91;
	position: relative;
}

.beginButton:hover {
	font-size: 60px;
}
