html {
	margin: 0px;
	height: 100%;
	background: url("moonlight.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	font-family: 'Cookie', cursive;
}
a{
	text-decoration: none;
}
.bg{
	height: 100%;
	margin: 0px;
}
.titleButton {
	font-size: 100px;
	color: #272822;
	position: relative;
	margin: 220px auto;
	text-shadow: -2px 0 #bbae61, 0 2px #bbae61, 2px 0 #bbae61, 0 -2px #bbae61;
}
.beginButton{
	font-size: 70px;
	color: #ebde91;
	position: relative;
}

.beginButton:hover {
	font-size: 60px;
}
