html {
	margin: 0px;
	height: 100%;
	cursor: url("eye3.png") 1 1, pointer;
	background: url("moonlight.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}

a{
	text-decoration: none;
}


.bg{
	height: 100%;
	margin: 0px;
}



.titleButton {
	font-size: 80px;
	position: relative;
	top: 300px;
	left: 60px;
}

.beginButton{
	font-size: 50px;
	color: white;
	position: relative;
	top: 400px;
	left: 50px;
}

.beginButton:hover {
	font-size: 60px;
}
