/*
 * Add your CSS styles to this file.
 */
body {
	background-color: #474842;
	background: url("cloud.jpg") no-repeat center;
	background-size: cover;
	margin: 0px;
}
.header {
	margin: 0px 0px;
	padding: 5px;
	background-color: #272822;
}
a {
	text-decoration:none;
	color: #888473;
	font-size: 15px;
}
a:hover {
	color: #67d0cc;
	font-size: 16px;
}
h1 {
	margin: 0px;
	color: #b3e35d;
}
h2 {
	margin: 0px;
	color: #67d0cc;
}
h3 {
	margin: 0px;
	color: #ebde91;
}
h4 {
	margin: 0px;
	color: #67d0cc;
}
li {
	list-style-type: none;
}
p {
	color: #888473;
}
.sidebar {
	display: inline-block;
	padding: 10px;
	width: 180px;
	height: 100%vh;
	background-color: #272822;
	float: right;
}
textarea {
		padding: 5px 5px;
		width: 150px;
		color: #888473;
		border: 1px solid #3f4036;
		border-radius: 3px;
		background-color: #222222;
		resize: none;
}
input[type="button"] {
		padding: 5px 5px;
		margin: 5px 0px;
		width: 60px;
		color: #888473;
		border: 1px solid #3f4036;
		border-radius: 3px;
		background-color: #222222;
		resize: none;
	}
.card-holder {
	display: inline;
}
.card {
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: center;
}
.face {
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	background-color: #272822;
	width: 256px;
	height: 100%;
}
.desc {
	display: inline-block;
	padding: 10px;
	margin: 0px 10px;
	border-radius: 10px;
	background-color: #272822;
	width: 256px;
}
.title {
	text-align: center;
}
.filler {
	height: 240px;
}