/* style.css*/

body,html {
	margin: 0;
	height: 100%;
}


/* background */
.bg {
	background: url(moonlight.jpg) no-repeat center;
	background-size: cover;
	height: 100%;
	margin: 0;
}

/* front page design */
.bg p {
	text-align: center;
	margin: 0;
}

.titleButton {
	font-size: 80px;
	position: relative;
	top: 300px;
	left: 60px;
}

.beginButton {
	font-size: 50px;
	color: white;
	position: relative;
	top: 500px;
	left: 40px;
}

